.photo-grid {
  margin: 0 auto;
  max-width: 880px;
  margin-top: 50px;
  padding-bottom: 66px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, 361px);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 580px) and (min-width: 320px)   {
  .photo-grid {
    padding-left: 0;
    padding-bottom: 48px;
    margin-top: 36px;
  }
}
