.profile__info-name {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 16px;
  margin-right: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 320px;
}

@media screen and (max-width: 660px) and (min-width: 320px) {
  .profile__info-name {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 0px;
    max-width: 189px;
    margin-left: 25px;
    margin-right: 12px;
    padding-bottom: 0;
  }
}

