.entry-user__container-form-input_password {
    width: 358px;

    margin: 0;
    margin-bottom: 0;
    margin-bottom: 216px;
  
    outline: none;
    background-color: black;
    border: none;
    border-bottom: 2px solid #CCCCCC;
  
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  
    color: #cccccc;
}