.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  max-width: 880px;
}

@media screen and (max-width: 660px) and (min-width: 320px)   {
  .profile {
    flex-direction: column;
    justify-content: center;
    max-width: 880px;
  }
}
