.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  margin-left: auto;
  border-radius: 2px;
  background-color: transparent;
  background-image: url(./../../../images/Add_Button_descktop.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  border: 2px;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 915px) and (min-width: 661px){
  .profile__add-button {
    margin-right: 20px;
  }
}

@media screen and (max-width: 660px) and (min-width: 320px)   {
  .profile__add-button {
    background-image: url(./../../../images/Add_Button_mobile.svg);
    margin: 0;
    width: 282px;
    height: 50px;
  }
}
