.profile__info-edit-button {
  width: 32px;
  height: 32px;
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  background-image: url(./../../../images/Edit_Button.svg);
  background-repeat: no-repeat;
  object-fit: contain;
}

.profile__info-edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 660px) and (min-width: 320px) {
.profile__info-edit-button {
    width: 18px;
    background-image: url(./../../../images/Edit_Button_mobile.svg);
    background-position: center;
  }
}
