@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__group-logo/header__group-logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__sign-in-up-button/header__sign-in-up-button.css);
@import url(./blocks/header/__sign-in-up-button/_logout/header__sign-in-up-button_logout.css);
@import url(./blocks/header/__user-email/header__user-email.css);


@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(./blocks/profile/__avatar-picture/profile__avatar-picture.css);

@import url(./blocks/profile/__info-name/profile__info-name.css);
@import url(./blocks/profile/__info-edit-button/profile__info-edit-button.css);
@import url(./blocks/profile/__info-description/profile__info-description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/photo-grid/photo-grid.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__card-delete/card__delete-button.css);
@import url(./blocks/card/__card-delete/_visible/card__delete-button_visible.css);
@import url(./blocks/card/__card-delete/_hidden/card__delete-button_hidden.css);
@import url(./blocks/card/__description/card__description.css);
@import url(./blocks/card/__like-section/card__like-section.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__form/popup__form.css);

@import url(./blocks/popup/_type/_user/popup_type_user.css);
@import url(./blocks/popup/_type/_place/popup_type_place.css);
@import url(./blocks/popup/_type/_gallery/popup_type_gallery.css);
@import url(./blocks/popup/_type/_delete/popup_type_delete.css);
@import url(./blocks/popup/_type/_avatar/popup_type_avatar.css);
@import url(./blocks/popup/_type/_success-registration/popup_type_success-registration.css);
@import url(./blocks/popup/_type/_fail-registration/popup_type_fail-registration.css);
@import url(./blocks/popup/_on/popup_on.css);


@import url(./blocks/popup/__place-close-icone/popup__place-close-icone.css);
@import url(./blocks/popup/__place-form/popup__place-form.css);
@import url(./blocks/popup/__delete-form/popup__delete-form.css);
@import url(./blocks/popup/__avatar-form/popup__avatar-form.css);
@import url(./blocks/popup/__delete-close-icone/popup__delete-close-icone.css);
@import url(./blocks/popup/__avatar-close-icone/popup__avatar-close-icone.css);

@import url(./blocks/popup/__container-form-input/popup__container-form-input.css);
@import url(./blocks/popup/__container-form-input/_user-description/popup__container-form-input_user-description.css);
@import url(./blocks/popup/__container-form-input/_user-name/popup__container-form-input_user-name.css);
@import url(./blocks/popup/__container-form-input/_location/popup__container-form-input_location.css);
@import url(./blocks/popup/__container-form-input/_link/popup__container-form-input_link.css);
@import url(./blocks/popup/__container-form-input/_avatar/popup__container-form-input_avatar.css);

@import url(./blocks/popup/__container-form-title/popup__container-form-title.css);
@import url(./blocks/popup/__container-form/popup__container-form.css);
@import url(./blocks/popup/__container-disclamer/popup__container-disclamer.css);

@import url(./blocks/popup/__container-form-submit-button/popup__container-form-submit-button.css);
@import url(./blocks/popup/__container-form-submit-button/_active/popup__container-form-submit-button_active.css);
@import url(./blocks/popup/__container-form-submit-button/_disabled/popup__container-form-submit-button_disabled.css);
@import url(./blocks/popup/__container-form-submit-button/_type_place/popup__container-form-submit-button_type_place.css);
@import url(./blocks/popup/__container-form-submit-button/_type_delete/popup__container-form-submit-button_type_delete.css);
@import url(./blocks/popup/__container-form-submit-button/_type_avatar/popup__container-form-submit-button_type_avatar.css);

@import url(./blocks/popup/__user-form/popup__user-form.css);
@import url(./blocks/popup/__user-close-icone/popup__user-close-icone.css);

@import url(./blocks/popup/__gallery-close-icone/popup__gallery-close-icone.css);
@import url(./blocks/popup/__gallery-container/popup__gallery-container.css);
@import url(./blocks/popup/__gallery-description/popup__gallery-description.css);
@import url(./blocks/popup/__gallery-image/popup__gallery-image.css);
@import url(./blocks/popup/__container-form-input/_type/popup__container-form-input_type_error.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__image-event/popup__image-event.css);
@import url(./blocks/popup/__event-message/popup__event-message.css);
@import url(./blocks/popup/__close-icone/popup__close-icone.css);

@import url(./blocks/name-input-error/name-input-error.css);
@import url(./blocks/description-input-error/description-input-error.css);
@import url(./blocks/location-input-error/location-input-error.css);
@import url(./blocks/link-input-error/link-input-error.css);
@import url(./blocks/avatar-input-error/avatar-input-error.css);


@import url(./blocks/entry-user/entry-user.css);
@import url(./blocks/entry-user/_type/_login/entry-user_type_login.css);
@import url(./blocks/entry-user/_type/_register/entry-user_type_register.css);
@import url(./blocks/entry-user/__container-form-input_email/entry-user__container-form-input_email.css);
@import url(./blocks/entry-user/__container-form-input_password/entry-user__container-form-input_password.css);
@import url(./blocks/entry-user/__container-form-submit-button/entry-user__container-form-submit-button.css);
@import url(./blocks/entry-user/__container-form-title/entry-user__container-form-title.css);
@import url(./blocks/entry-user/__login-reminder/entry-user__login-reminder.css);
@import url(./blocks/entry-user/__login-reminder/_off/entry-user__login-reminder_off.css);
@import url(./blocks/entry-user/__login-reminder-link/entry-user__login-reminder-link.css);
@import url(./blocks/entry-user/__container-form/entry-user__container-form.css);
@import url(./blocks/entry-user/__form/entry-user__form.css);




