.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 100%;

}
.profile__avatar-overlay:hover {
  background: rgba(0, 0, 0, 0.8);
  background-image: url(./../../../images/editAvatar.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 915px) and (min-width: 661px){
  .profile__avatar-overlay {
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: -14px;
  }
}

@media screen and (max-width: 660px) and (min-width: 320px)   {
  .profile__avatar-overlay {
    width: 120px;
    margin-bottom: 26px;
  }
}
