.profile__info-title {
  display: flex;
  flex-direction: row;
  width: 365px;
  margin-right: 10px;
  align-items: center;
}

@media screen and (max-width: 660px) and (min-width: 320px) {
  .profile__info-title {
    margin-right: 0px;
    justify-content: center;
    max-width: 303px;
  }
}
